@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/*-------------------------------------------
|                                           |
|             COMMON CSS STYLE              |
|                                           |
-------------------------------------------*/
*{
    font-family: 'Hind Siliguri', sans-serif;
}

footer{
    background-color: #ececec;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}

.custom-font-size{
    font-size: 0.975rem;
    line-height: 1.2;
}

.custom-font-user{
    font-size: 0.75rem;
}

.custom-width{
    max-width: 1200px;
}

@media screen and (max-width: 768px) {
    .change-logo{
        width: 40px;
    }
    .d-sm-none{
        display: none;
    }
}

.offcanvas-body>ul>li{
    padding: 0.5rem 1.25rem;
}

.accordion-button{
    padding: 0.5rem 1.25rem;
}

.accordion-button:not(.collapsed){
    box-shadow: none;
    background-color: white;
    color: black;
}

.accordion-button:focus {
    z-index: 3;
    border-color: white;
    outline: 0;
    box-shadow: none;
}

.accordion-body {
    padding: 0rem .5rem;
}

.card-image {
    width: 130px;
    height: 186px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .add-to-cart-secion>i {
    padding: 6px;
    border-radius: 50%;
    border: 2px solid black;
}

.add-to-cart-secion>i:hover {
    color: red;
    border: 2px solid red;
    cursor: pointer;
}*/

.card-footer {
    /* border: none; */
    /* opacity: 0; */
}

/* .card:hover .card-footer {
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    transition: all .2s ease-in-out;
    cursor: pointer;
} */

/* .fa-heart:hover {
    color: #DC3B45;
}

.fa-cart-plus:hover {
    color: #368755;
} */

/*-------------------------------------------
|                                           |
|         PRE ORDER CARD BODY STYLE         |
|                                           |
-------------------------------------------*/
.pre-order-card-body{
    padding: 0.5rem 1rem;
}

/*-------------------------------------------
|                                           |
|             COUNT DOWN STYLE              |
|                                           |
-------------------------------------------*/
.countdown {
    display: flex;
    justify-content: center;
}

.countdown-individual{
    padding: 10px;
    justify-items: center;
}

.countdown-individual p{
    margin-bottom: 0;
}

/*-------------------------------------------
|                                           |
|        HOMEPAGE PRODUCT IMAGE STYLE       |
|                                           |
-------------------------------------------*/
.homepage-product-image-card {
    height: 350px;
}

.homepage-product-image{
    height: 140px;
    width: 100px;

}

.homepage-product-image-card-body a{
    display: grid;
    justify-items: center;

}

.homepage-product-image-card-footer{
    border: none;
    opacity: 0;
}

.homepage-product-image-card-body:hover .homepage-product-image-card-footer {
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

/*-------------------------------------------
|                                           |
|           BOOK CATEGORIES STYLE           |
|                                           |
-------------------------------------------*/
.category-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    transition: 0.8s;
}

.category-container a{
    font-size: 0.86rem;
}

.hover-effect{
    background: -webkit-linear-gradient(0deg, transparent 50%, #fcb800 50%);
    background-size: 400px 20px;
    border: 1px solid #fcb800;
}

.hover-effect:hover{
    background-position: 200px 0;
}

.hover-effect:hover a{
    color: white;
}

/*-------------------------------------------
|                                           |
|         SOCIAL ICONS STYLE                |
|                                           |
-------------------------------------------*/

.social-login {
    height: 50px;
    width: 50px;
    border: 1px solid #e6e6e6 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google:hover {
    background-color: #db3236;
    transition: 0.5s;
}

.facebook:hover {
    background-color: #3b5998;
}

.instagram:hover{
    background-color: #FA8A39;
}

.twitter:hover {
    background-color: #00acee;
}

.whatsapp:hover{
    background-color: #25D366;
}

.youtube:hover{
    background-color: #FF0000;
}

.google:hover,
.facebook:hover,
.twitter:hover i {
    color: white;
}

.facebook:hover i,
.instagram:hover i,
.whatsapp:hover i,
.youtube:hover i{
    color: white;
}

.fab {
    font-size: 1rem;
}

/*-------------------------------------------
|                                           |
|               FOOTER STYLE                |
|                                           |
-------------------------------------------*/
.footer-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-item {
    padding: 10px 5px;
    display: flex;
    align-items: center;
}

.info-item-sep{
    border-right: 1px solid #e1e1e1;
}

.info-thumb {
    margin-right: 20px;
}

.info-item i {
    font-size: 1.5rem;
    color: #fcb800;
    line-height: 1;
    display: block;
}

.info-item h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 0;
}

.info-item p {
    margin-bottom: 0;
}

/*-------------------------------------------
|                                           |
|              TESTING STYLE                |
|                                           |
-------------------------------------------*/
.card figure {
	margin: 0;
	position: relative;
}

.card figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.card figcaption{
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: white;
}

.card figcaption h5 {
	margin: 0;
	padding: 0;
	color: black;
}

.card figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.card figure > div > img{
    height: 230px;
}

.card figure > div {
	overflow: hidden;
}

.card figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.card figure:hover img,
.card figure.cs-hover img {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.card figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.card figure:hover figcaption,
.card figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.book-name{
    font-size: 1rem;
}

.author-name{
    font-size: 0.8rem;
    color: #ed4e6e;
}

.add-to-cart-div{
    position: absolute;
    bottom: 20px;
}

.add-to-cart-button{
    font-size: 0.79rem;
    font-weight: bold;
}

.placeholder-effect{
    animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

.custom-contact-card{
    height: 154px;
    width: 340px;
}

.custom-contact-card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.5);
    transition: 0.8s;
}

.info-item-container{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .custom-contact-card{
        height: 154px;
        width: 100%;
    }

    .info-item-container{
        display: grid;
    }

    .info-item{
        display: flex;
        grid-template-rows: repeat(1, 1fr);
    }

    .divider{
        border-bottom: 1px solid rgba(102,102,102,.3);
    }

    .card figure > div {
        width: 155.75px;
        overflow: hidden;
    }
}

svg:hover{
    cursor: pointer;
}

.divider{
    border-right: 1px solid rgba(102,102,102,.3);
}